
h1 {
  text-align: center;
  padding-top: 1rem;
}

.shoppingCartItems {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 0;
}

.itemCard {
  display: grid;
  grid-template-columns: 40% 60%;
  max-width: 40rem;
  height: 13rem;
  margin: 2rem;
}

.imageContainer {
  height: 13rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.imageContainer img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.itemInfo {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.emptyCart {
  text-align: center;
  padding: 2rem;
}


@media  screen and (min-width: 1000px) {
  .shoppingCartItems {
    grid-template-columns: 1fr 1fr;
  }
}