nav {
  background-color: chartreuse;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  font-size: 2rem;
  color: blueviolet;
  padding: 1rem;
  position: sticky;
  top: 0;
}
nav a {
  text-decoration: none;
}